# fly.toml app configuration file generated for ildsk on 2024-11-01T09:57:04+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ildsk'
primary_region = 'arn'

[build]

[env]
  LLM_URL = 'https://api.openai.com/v1'
  LLM_MODEL = 'gpt-4o'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
